body {
    margin:0;
    padding:0;
    background:#ffe;
    font-size:14px;
    font-family:'微软雅黑','宋体',sans-serif,Helvetica;
    color:#231F20;
    overflow:auto
}
a {
    color:#000;
    font-size:14px;
}
#main{
    width:100%;
}
#wrap{
    position:relative;
    margin:0 auto;
    width:1100px;
    height:680px;
    margin-top:10px;
}
#text{
    width:400px;
    height:425px;
    left:60px;
    top:80px;
    position:absolute;
}
#code {
    display:none;
    float: left;
    width: 490px;
    height: 500px;
    color: #333;
    font-family: "Consolas", "Monaco", "Bitstream Vera Sans Mono", "Courier New", "sans-serif";
    font-size: 12px;
}

#code .string{
    color: #2a36ff;
}

#code .keyword{
    color: #7f0055;
    font-weight:bold;
}

#code .placeholder{
    margin-left:15px;
}

#code .space{
    margin-left:7px;
}

#code .comments{
    color: #3f7f5f;
}
#clock-box {
    position:absolute;
    left:60px;
    top:550px;
    font-size:28px;
    display:none;
}
#clock-box a {
    font-size:28px;
    text-decoration:none;
}
#clock{
    margin-left:48px;
}
#clock .digit {
    font-size:64px;
}
#canvas{
    margin:0 auto;
    width:1100px;
    height:680px;
}
#error{
    margin:0 auto;
    text-align:center;
    margin-top:60px;
    display:none;
}
.hand{
    cursor:pointer;
}
.say{
    margin-left:5px;
}
.space{
    margin-right:150px;
}
#note {
    position: absolute;
    position: fixed !important;
    bottom: 10px;
    width: 100%;
    text-align: center;
    display: none;
}

.noteContent {
    border: 1px solid #FFF;
    font-size: 18px;
    padding: 5px;
    cursor: pointer;
    border-radius: 5px;
    display: none;
}
